/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1920px) { 
    .container{
        max-width: 1470px;
    }
}
@media (min-width: 1366px) and (max-width: 1919.98px) { 
    .container{
        max-width: 1250px;
    }
    html{
        font-size: 53.75%;
    }
}

@media (min-width: 1200px) and (max-width: 1365.98px) { 
    html{
        font-size: 48%;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) { 
    html{
        font-size: 41%;
    }
}

@media (max-width: 991.98px) {
    html{
        font-size: 55%;
    }
    .weather_right p{
        max-width: 100%;
    }
}

/* Medium devices (tablets, 767px and down) */
@media (max-width: 767.98px) {
    html{
        font-size: 38%;
    }
}

/* Small devices (landscape phones, 575px and down) */
@media (max-width: 575.98px) {
    html{
        font-size: 1.8vw;
    }
    .container{
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .footer_bottom ul{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .footer_logo p {
        margin: 2.4rem 0 3rem 0;
    }
    h1, h2 {
        font-size: 4.8rem;
    }
    .row{
        margin-left: -1rem;
        margin-right: -1rem;
    }
    .row>div{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    br{
        display: none;
    }
    .lg_text{
        font-size: 2rem;
    }
    .info_title {
        padding: 2.5rem 2rem;
    }
    h3 {
        font-size: 4rem;
        line-height: 1.22;
    }
    h4 {
        font-size: 3.8rem;
    }
    .cta_content .button{
        margin-top: 3rem;
    }

}